body{
    width: 800px;
    height: 800px;
}
.block{
    display: flex;
}
.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 800px;
    background: aqua;
}
.box{
    display: flex;
}
.block2{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    background: cornflowerblue;
    align-items: center;
}
.block3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background: #a6ed64;
}
        /*====2_1====*/
.block21{
    margin: 20px;
    width: 500px;
    height: 500px;
    background: burlywood;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
#header{
    width: 450px;
    height: 50px;
    background: chocolate;
}
.center{
    display: flex;
    background: cornflowerblue;
    height: 350px;
    width: 450px;
    justify-content: space-between;
}
#menu{
    background: #8451b7;
    width: 120px;
    height: 350px;
}
.post22{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post{
    background: aqua;
    width: 270px;
    height: 120px;
}
.post1{
    width: 270px;
    height: 120px;
    background: #dec627;
}
#footer{
    width: 450px;
    height: 50px;
    background: chocolate;
}
        /*====3====*/
.conteiner3{
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 300px;

}
.A3{
    background: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.big_cont3{
    display: flex;
}

.small_cont3{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 600px;
}
.B3{
    background: #6e6019;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
}
.C3 {
    background: #dec627;
    height: 100px;
    width: 200px;
}
.D3{
    background: brown;
    height: 100px;
    width: 200px;
}
.E3 {
    background: #a6ed64;
    height: 100px;
    width: 200px;
}
.F3{
    background: cornflowerblue;
    height: 200px;
    width: 400px;
   display: flex;
}