body{
    width: 800px;
    height: 800px;
}
.block{
    display: flex;
}
.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 800px;
    background: aqua;
}
.box{
    display: flex;
}
.block2{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 300px;
    background: cornflowerblue;
    align-items: center;
}
.block3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background: #a6ed64;
}
