@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Zen+Kurenaido&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --blue: rgba(1, 1, 112, 0.8);
    --aqua: aqua;
}

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}

.soc-icon{
    background: var(--aqua);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    column-gap: 5px;
}

.soc-icon__link{
    width: 25px;
    height: 5px;
    background-color: var(--blue);
}

